extends layout

block layout-content
  div.View
    div.flex-container
      div.container
        div.frame
          div.mat
            div.art
              img(src="images/cybercity1-sq.png")
    div.card-container
      div.card
        h4 Infinite Days
        div.hash-container
          p #{hash}
